<section>
    <div class="container-lg p-5">
        <form action="/signup" method="POST" class="py-5">
            <div class="mb-3">
                <label for="emailSignUp" class="form-label">Correo electronico</label>
                <input type="email" name="email" class="form-control" id="emailSignUp">
            </div>
            <div class="mb-3">
                <label for="nameSignUp" class="form-label">Nombre completo</label>
                <input type="text" name="name" class="form-control" id="nameSignUp">
            </div>
            <div class="mb-3">
                <label for="usernameSignUp" class="form-label">Nombre de usuario</label>
                <input type="text" name="username" class="form-control" id="usernameSignUp">
            </div>
            <div class="mb-3">
                <label for="passwordSignUp" class="form-label">Contraseña</label>
                <input type="password" name="pass" class="form-control" id="passwordSignUp">
            </div>
            <button type="submit" class="btn btn-primary">Registrase</button>
        </form>
    </div>
</section>