<section>
    <div class="container-lg p-5">
        <form action="/signin" method="POST" class="py-5">
            <div class="mb-3">
              <label for="emailSignIn" class="form-label">Correo electronico</label>
              <input type="email" name="email" class="form-control" id="emailSignIn">
            </div>
            <div class="mb-3">
              <label for="passwordSignIn" class="form-label">Contraseña</label>
              <input type="password" name="pass" class="form-control" id="passwordSignIn">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
        </form>
    </div>
</section>